fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv

torch
torchvision

ultralytics
cloudinary
python-multipart
celery
redis

grad-cam
opencv-python
matplotlib
httpx
prometheus-fastapi-instrumentator
prometheus-client

bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]