fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv

torch
torchvision

ultralytics
cloudinary
python-multipart
celery
redis

grad-cam
# ĐÃ ĐỔI SANG BẢN HEADLESS DÀNH CHO SERVER
opencv-python-headless
# THÊM THƯ VIỆN IOT
paho-mqtt

matplotlib
httpx
prometheus-fastapi-instrumentator
prometheus-client

bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]

onnx
onnxruntime